<a href="https://colab.research.google.com/github/Jhow3D/Python---M-dulo-3---An-lise-dedados-/blob/main/Aula4_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
df_logica = pd.DataFrame(np.random.randint(28, size=(100,1)), columns=['log_acertos'])
df_logica

    log_acertos
0            20
1             8
2            17
3            26
4            17
..          ...
95           14
96            3
97           21
98            5
99           18

[100 rows x 1 columns]

In [ ]:
df_portugues = pd.DataFrame(np.random.randint(18, size=(100,1)),columns=['port_acertos'])
df_portugues

    port_acertos
0              3
1              0
2             14
3             10
4             16
..           ...
95            10
96            13
97             5
98            17
99             5

[100 rows x 1 columns]

In [ ]:
df_java = pd.DataFrame(np.random.randint(8,size=(100,1)),columns=["java_acertos"])
df_java

    java_acertos
0              1
1              6
2              5
3              6
4              1
..           ...
95             3
96             0
97             0
98             1
99             3

[100 rows x 1 columns]

In [ ]:
df_python = pd.DataFrame(np.random.randint(40, size = (100,1)),columns=['py_acertos'])
df_python

    py_acertos
0           12
1            8
2           39
3           20
4           21
..         ...
95           9
96          12
97          25
98          27
99          39

[100 rows x 1 columns]

In [ ]:
df_formacao = pd.DataFrame(np.random.randint(2,size=(100,1)), columns=['formacao'])
df_formacao

    formacao
0          0
1          0
2          0
3          1
4          1
..       ...
95         1
96         0
97         0
98         0
99         0

[100 rows x 1 columns]

In [ ]:
df = pd.concat([df_logica,df_portugues,df_java,df_python,df_formacao], axis = 1)

df

    log_acertos  port_acertos  java_acertos  py_acertos  formacao
0            20             3             1          12         0
1             8             0             6           8         0
2            17            14             5          39         0
3            26            10             6          20         1
4            17            16             1          21         1
..          ...           ...           ...         ...       ...
95           14            10             3           9         1
96            3            13             0          12         0
97           21             5             0          25         0
98            5            17             1          27         0
99           18             5             3          39         0

[100 rows x 5 columns]

In [ ]:
x = df[['log_acertos','port_acertos','java_acertos','java_acertos','py_acertos']]

In [ ]:
y = df[['formacao']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split(x, y, test_size = 0.25)

[    log_acertos  port_acertos  java_acertos  java_acertos  py_acertos
 65           23             2             1             1          11
 48           24            10             6             6          38
 33            5             0             1             1          28
 89            4             9             7             7          30
 94           15            11             7             7           0
 ..          ...           ...           ...           ...         ...
 3            26            10             6             6          20
 86           20             4             2             2          32
 45            8             1             0             0          29
 50           20             9             0             0          12
 4            17            16             1             1          21

 [75 rows x 5 columns],
     log_acertos  port_acertos  java_acertos  java_acertos  py_acertos
 75            6             3             0             0          36
 1             8             0             6             6           8
 7             6             3             6             6          12
 13            3            10             5             5          16
 69            2             0             5             5          39
 10           25            13             1             1          23
 26           19            12             1             1           7
 92           15            17             0             0          21
 73           23            11             4             4          15
 57           22             5             3             3          38
 16           14            10             2             2          19
 39           14            12             4             4          32
 6             2             8             1             1          34
 66            6             9             3             3          25
 28           12            10             2             2           3
 97           21             5             0             0          25
 8             6             5             2             2           8
 62            3            17             3             3          25
 9             3             8             5             5          12
 38           12            14             0             0          12
 74           25             9             6             6           6
 90            3            13             4             4          11
 22            6            17             0             0          36
 58            0             8             2             2          12
 17            9             1             3             3          21,
     formacao
 65         0
 48         0
 33         1
 89         1
 94         0
 ..       ...
 3          1
 86         1
 45         1
 50         0
 4          1

 [75 rows x 1 columns],
     formacao
 75         0
 1          0
 7          1
 13         0
 69         0
 10         0
 26         1
 92         1
 73         0
 57         0
 16         1
 39         0
 6          1
 66         0
 28         1
 97         0
 8          1
 62         1
 9          0
 38         0
 74         1
 90         1
 22         0
 58         1
 17         1]

In [ ]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y, = train_test_split(x, y, test_size = 0.25)
print(treino_x.shape)
print(teste_x.shape)

(75, 5)
(25, 5)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y, = train_test_split(x, y, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x),len(teste_x)))

Treinaremos com 75 elementos e testaremos com 25 elementos

In [ ]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acuracia foi % 2f%%" % acuracia)

A acuracia foi  56.000000%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
SEED = 20
treino_x, teste_x, treino_y, teste_y, = train_test_split(x, y,random_state=SEED,test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x),len(teste_x)))

Treinaremos com 75 elementos e testaremos com 25 elementos

In [ ]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acuracia foi % 2f%%" % acuracia)

A acuracia foi  60.000000%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,